* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    display: block;
    border: none;
}

/* 스타일 지정*/
header {
    height: 90px;
    background-color: #1e172a;
    width: 100%;
    text-align: center;
    position: relative;
}

header > div > a {
    display: block;
    width: 130px;
    float: left;
    height: 60px;
    margin-top: 15px;
    margin-right: 60px;
}
header img {
    height: 60px;
    width: 100%;
    display: inline-block;
}

header ul {
    overflow: hidden;
    float: left;
    height: 90px;
    
}
header ul li {
    float: left;
    margin: 30px;
    
}
header ul a {
    display: block;
    color: white;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
}

header > div {
    height: 90px;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
}
header select {
    margin-top: 30px;
    height: 30px;
    margin-left: 60px;
    width: 100px;
    padding-left: 10px;
    border: none;
    float: right;
}

header ul a:hover {
    color: orange;
}
/* header 반응형 */
@media screen and (max-width: 960px) {
    header ul {
        display: none;
    }
    header select {
        display: none;
    }
    header div a {
        margin: 0 auto;
        margin-top: 15px;
    }
}
.main {
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.main-text {
    height: 320px;
    color: white;
    position: relative;
}
.main-text-box {
    background-color: rgba(0,0,0,0.6);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.main-text-box h1 {
    margin-bottom: 20px;
}
.main-text-box p {
    color:
}

.main {
    background-image: url(../img/img001.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.main-menu {
    overflow: hidden;
}
.main-menu a {
    float: left;
    display: block;
    width: 160px;
    height: 140px;
    color: white;
    background-color:rgba(17,145,208,0.9);
}
.main-menu a:nth-child(1) {
    background-color: rgba(245,130,31,0.9)
}
.main-menu a:nth-child(6) {
    background-color: rgba(77,184,72,0.9)
}
.main-menu {
    margin: 0 auto;
    width: 960px;
    margin-bottom: 50px;
}
.main-menu img {
    display: inline-block;
}
.main-menu div {
    height: 39px;
    margin: 0 auto;
    width: 160px;
    margin-top: 30px;
    margin-bottom: 15px;
}
/* main 반응형 */
@media screen and (max-width: 960px) {
    .main-menu {
        width: 480px;
    }
}

.container {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.content-wrap {
    width: 1140px;
    margin: 40px auto;
    overflow: hidden;
}
.content-wrap > div {
    width:360px;
    float: left;
    margin: 10px;
    position: relative;
    height: 260px;
}
.plus {
    position: absolute;
    top: 2%;
    right: 0;
}
.content-wrap div  > p {
    box-sizing: border-box;
    line-height: 30px;
}
.content-wrap div:nth-child(2) p {
    border-bottom: 2px solid black;
}
.content-wrap div:nth-child(6) p {
    border-bottom: 2px solid black;
}
.info {
    overflow: hidden;
    font-size: 14px;
    line-height: 38px;
    letter-spacing: -1px;
}
.info > a {
    display: block;
}
.info span {
    float: right;
}
/*container 반응형 */
@media screen and (max-width: 960px) {
    .content-wrap {
        width: 760px;
    }
}

footer {
    width: 100%;
    background-color: black;
    height: 90px;
    color: white;
    position: relative;
    overflow: hidden;
}
.footer-left {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 15%;
    transform:translateY(-50%);
    color: gray;
}
.footer-left .img {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
}
.footer-left p {
    float: left;
    line-height: 24px;
}
.footer-left p a {
    margin-left: 20px;
}
.footer-left p span {
    font-size: 12px;
    color:rgba(128, 128, 128, 0.5);
}
.footer-right {
    position: absolute;
    top:45%;
    right: 10%;
    overflow: hidden;
    transform: translateY(-50%);
}
.footer-right div {
    float: left;
}
.footer-right select {
    height: 30px;
    border: none;
    margin-top: 5px;
    margin-left: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
}
/* footer 반응형 */
@media screen and (max-width: 960px) {
    footer {
        text-align: center;
    }
    footer .footer-left div {
        display: none;
    }
    footer .footer-right {
        display: none;
    }
    /*
    footer .footer-left {
        width: 570px;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    */
    footer .footer-left {
        width: 570px;
        margin: 0 auto;
        position: none;
        top: unset;
        left: unset;
        transform: unset;
        position: relative;
        margin-top: 20px;
    }
    footer .footer-left p {
        text-align: center;
        float: none;
    } 
}
