@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --blue-color: #0bb8ff;
    --gray: #f7f8f9;
    --footer-background-color: #28323c;
    --footer-font-color: #646f7c;
    --nav-font-color: #c5c8ce;
    --gray-font-color: #aaaaaa
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

/* header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: white;
    width: 100%;
    height: 912px;
    background-image: url(/img/socar/main_visual_fullscreen.jpg);
    background-position: center;
}
.socar-logo {
    width: 112px;
    height: 22.89px;
    position: absolute;
    top: 10px;
    left: 35px;
}
.hidden span {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}
.show-manu {
    width: 36px;
    height: 14px;
    position: relative;
}
.show-manu-wrap {
    position: absolute;
    top: 30px;
    right: 30px;
}
.show-manu span:first-child {
    width: 26px;
    height: 3px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
}
.show-manu span:last-child {
    width: 26px;
    height: 3px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
}
.main-title {
    text-align: center;
    font-size: 64px;
    font-weight: 600;
}

/* section */

.pictures-container {
    width: 800px;
    margin: 0 auto;
}
.pictures-container article {
    margin: 100px 0;
}
.pictures-main img {
    width: 100%;
    margin: 30px 0;
}
.pictures-title {
    font-size: 35px;
    font-weight: 600;
    color: #374553;
    margin-bottom: 16px;
    position: relative;
}
.pictures-title::after {
    content: "";
    display: block;
    position: absolute;
    left: 227px;
    bottom: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--blue-color);
}
.pictures-title.third::after {
    left: 256px;
}
.pictures-exp {
    letter-spacing: -0.025em;
    font-size: 17px;
    font-weight: bolder;
    color: #aaaaaa;
}

/* title section */

.title-section {
    height: 444px;
    padding-top: 64px;
    padding-bottom: 80px;
    box-sizing: border-box;
    background-color: var(--gray);
    position: relative;
    z-index: 100;
    overflow: hidden;
}
.adver-title {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    color: var(--gray-font-color);
    line-height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;
}
.adver-title span {
    color: var(--blue-color);
}
.blue-background {
    width: 100%;
    height: 100%;
    position: absolute;    
    background-color: rgba(0,184,255,1);
    transform: skewX(-30deg);
    left: 70%;
    top: 0;
}

/* footer */

footer {
    background-color: var(--footer-background-color);   
}
.info-box {
    font-size: 16px;
    width: 920px;
    height: 288px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 100px;
}
/* footer nav */
.footer-nav {
    overflow: hidden;
    color: rgba(255,255,255,0.7);
    font-size: 15px;
    width: 920px;
    margin-bottom: 20px;
}
.footer-nav li {
    float: left;
    margin-right: 25px;
}
.footer-nav li:last-child {
    margin-right: 0;
}
.footer-nav li span {
    color: white;
}
/*social nav */
.social-nav img {
    display: block;
    width: 100%;
}
.social-nav {
    overflow: hidden;
    margin-bottom: 20px;
}
.social-nav li {
    display: block;
    float: left;
    margin-right: 10px;
}
/* company-info */
.company-info {
    width:  915px;
    display: flex;
    font-size: 14px;
    color:var(--footer-font-color);
    justify-content: space-between;
}
.company-info_right a {
    color: white;
    text-decoration: underline;
}







.btn-logo {
    width: 60px;
    height: 60px;
    position: 
}
.btn-logo img {
    border: 1px solid red;
    width: 100%;
    border-radius: 10px;
}
