* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    border: none;
}

body {
    font-family: 'Russo One', sans-serif;
    background-color: grey;
    line-height: 28px;
}

/* 구조 */

.wrap {
    width: 1600px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.left {
    float: left;
    width: 200px;
}

.right {
    float: left;
    width: 1400px;
}

/* left */

.left {
    background-color: black;
    color: gray;
    height: 100%;
    overflow: hidden;
    position: fixed;
    
}
h1 {
    text-align: center;
    margin: 10px 0;
}

ul {
    width: 150px;
    margin: 0 auto;
}

ul a {
    display: block;
    font-size: 10px;
}

ul li {
    margin: 15px 0;
    position: relative;
}

ul li:hover a {
    color: gold;
    text-decoration: underline;
}

.search {
    overflow: hidden;
    margin: 0 auto;
    width: 170px;
}


span {
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 40%;
    color: greenyellow;
}

input[type="text"] {
    display: block;
    float: left;
    width: 120px;
    height: 25px;
    border: none;
    background-color: gray;
    color: white;
} 

button {
    display: block;
    float: left;
    width: 50px;
    height: 25px;
    border: none;
    font-size: 10px;
    background-color: black;
    color: gray;
    border: 1px solid gray;
    cursor: pointer;
}


/* right */

.right {
    background-color: gold;
    position: relative;
    overflow: hidden;
    float: right;
}

.top-img {
    position: relative;
    width: 1200px;
    margin: 30px auto;
}

.top-img button {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 150px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-left: -75px;
    margin-top: -75px;
    font-size: 40px;
}
/* 이미지 박스 */
.image-box {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}

.image-box img {
    float: left;
    margin: 25px;
}







