* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #181818;
}

p {
    color: white;
}

h1 {
    color: white;
}

img {
    display: block;
}

/* 배경 변수 지정 */

:root {
    --blue-color: black;
}
/* header */

header {
    width: 100%;
    overflow: hidden;
    background-color: var(--blue-color)
}
nav {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
header .nav-left {
    display: flex;
    margin-left: 20px;
}
header .nav-left li {
    width: 110px
}

header .nav-left li:first-child {
    width: 30px;
    margin-right: 20px;
}
header .nav-right {
    display: flex;
}
header .nav-right li {
    width: 30px;
    margin: 0 10px;
}
header .nav-right li:last-child div{
    width: 30px;
    height: 30px;
    background-color: beige;
    border-radius: 50%;
}

/* header 및 전체 부모 */
.wrap {
    width: 100%;
}

/* main */
.main {
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
}
.main div {
    width: 100%;
    padding-bottom: 60%;
    background-color: #dfdfdf;
}

/* metadata */
.metadata {
    width: 95%;
    overflow: hidden;
    margin: 0 auto;
    border-bottom: 1px solid #dfdfdf73;
}
.metadata .tag {
    margin-top: 10px;
}
.metadata .tag a{
    color: rgb(43, 174, 226);
}
.metadata h1 {
    margin-top: 5px;
}
.metadata .bar {
    margin-top: 10px;
    overflow: hidden;
    font-size: 15px;
    margin-bottom: 10px;
}
.metadata .bar p {
    float: left;
    color: #dfdfdfc4;
    font-size: 15px;
}
.metadata .bar ul {
    float: right;
    overflow: hidden;
}
.metadata .bar ul li {
    float: left;
    width: 80px;
    overflow: hidden;
}
.metadata .bar ul li:last-child {
    width: 20px;
}

.metadata .bar ul li div {
    float: left;
}
.metadata .bar ul li div:first-child {
    margin-right: 10px;
}
.metadata .bar ul li div img{
    width: 24px;
    height: 24px;
}

/* channeldata */
.channeldata {
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid #dfdfdf73;
}
.channeldata .bar2 {
    overflow: hidden;
    margin-top: 10px;
}
.channeldata .김시선 {
    float: left;
    overflow: hidden;
}
.channeldata .김시선 li {
    float: left;
}
.channeldata .profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: burlywood;
}
.channeldata .가입구독 {
    float: right;
    overflow: hidden;
}
.channeldata .가입구독 li {
    float: left;
}
.channeldata button {
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 3px;
    margin-right: 10px;
    background-color: rgba(255, 0, 0, 0.904);
    color: white;
    
}
.channeldata .text {
    margin-left: 55px;
    margin-bottom: 10px;
}

/* video-wrap */
.video-wrap {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 30px;
    font-size: 14px;
}
.video-wrap .video{
    overflow: hidden;
    margin-top: 10px;
}
.video-wrap .box {
    width: 160px;
    height: 100px;
    background-color: #dfdfdf;
    float: left;
    margin-right: 10px;
}

/* coment-box */
.coment-box {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 30px;
    font-size: 14px;
}
.coment-nav {
    margin-bottom: 25px;
    font-size: 17px;
}
.coment-nav ul {
    overflow: hidden;
    display: flex;
    align-items: center;
}
.coment-nav ul li img {
    width: 100%;
    height: 100%;
}

.coment {
    overflow: hidden;
    margin-bottom: 10px;
}
.coment-nav ul li:first-child{
    margin-right: 30px;
}
.coment-nav ul li{
    margin-right: 5px;
}
.coment-box .coment-box_left {
    float: left;
    margin-right: 15px;
}
.coment-box .coment-box_left div {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}
.coment-box .coment-box_right {
    float: left;
}
.coment-box .coment-box_right p{
    margin-bottom: 10px;
}
.coment-box .coment-box_right span {
    font-size: 12px;
    margin-left: 3px;
    color: gray
}
.coment-box .coment-box_right ul {
    overflow: hidden;
}
.coment-box .coment-box_right ul li {
    float: left;
    margin: 0 5px;
}

/*반응형(width : 992px) */

@media screen and (min-width: 992px) {
    body > .wrap {
        width: 65%;
    }
    body {
        position: relative;
    }
    .video-wrap {
        position: absolute;
        width: 35%;
        right: 0%;
        top: 48px;
    }
    .video-wrap .video:first-child{
        margin-top: unset;
    }


}







